parameters:
    level: 9
    tmpDir: var
    paths:
        - src
    excludePaths:
        - src/Infrastructure/Serializer/Normalizer/DiscriminatorDefaultNormalizer.php
        - vendor
    exceptions:
        implicitThrows: true
        check:
            tooWideThrowType: true

    parallel:
        maximumNumberOfProcesses: 4
    stubFiles:
        - stubs/Symfony/Serializer/DenormalizerInterface.stub
        - stubs/Symfony/Serializer/NormalizerInterface.stub

